{%extends "menu.html"%}

{%block header%}
News
{%endblock%}

{%block body%}

  <div class="card has-table">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Tablo  
      </p>
      <a href="ucretler" class="card-header-icon">
        <span class="icon"><i class="mdi mdi-trash-can"></i></span>
      </a>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table id="table" class="table is-fullwidth is-striped is-hoverable is-fullwidth">
           
            <tr> 
              <th>Yazar Ad-Soyad</th>
              <th>Gündem</th>
              <th>Baslik </th>
              <th>Açıklama</th>
              <th>Image</th>
              <th>Date</th>
            </tr>
            
            <tbody>
              {% for i in range (myresult | length) %}
              <tr>
              
                <td>{{myresult[i][0]}}</td>
                <td>{{myresult[i][1]}}</td>
                <td>{{myresult[i][2]}}</td>
                <td>{{myresult[i][3]}}</td>
                <td>{{myresult[i][4]}}</td>
                <td>{{myresult[i][5]}}</td>



                
                <td class="is-actions-cell"></td>
                </td>  
              </tr>
         
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
</section>
{%endblock%}