{% extends "layout.html" %}
{% block pagestyles %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
{% include "navigation.html" %}

<div class="container">
  {% for i in range (news | length) %}
  <a href="/news/{{ news[i]['id']}}/" class="product-preview">
  <div class="card">
    <div class="card__header">
      <img src="{{news[i]['image']}}" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>{{news[i]['baslik']}}</h4>
      <p>{{news[i]['description']}}</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <div class="user__info">
          <h5>{{news[i]['konu']}}</h5>
          <small>{{news[i]['datetime']}}</small>
        </div>
        
      </div>
    </div>
  </div>
</a>
  {% endfor %}
</div>
<!-- partial -->
{% endblock %}
